{% extends 'main/base.html' %}

{% block title %}
	<title>TodoApp</title>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-3">
			<div class="col">
				<h1 class="text-center">TodoApp</h1>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
				<form method="POST">
					{% csrf_token %}	
					{{ form.title }}
					<br>
					<div class="text-center">
						<button type="submit" 
						 class="btn btn-primary">Add new task</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col">
				{% if todo_incomplete %}
					<h6>Incomplete:</h6>
					<ul class="list-group">
						{% for todo in todo_incomplete %}
							<li class="list-group-item">{{ todo.title }}
							<a href="{% url 'upd' todo.id %}">Update</a>
							<a href="{% url 'del' todo.id %}">Delete</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
				<h6>Complete:</h6>
				{% if todo_complete %}
					<ul class="list-group">
						{% for todo in todo_complete %}
							<li class="list-group-item">{{ todo.title }}
							<a href="{% url 'del' todo.id %}">Delete</a>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<p><i>Вы еще ничего не выполнили!</i></p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
