{% extends 'main/base.html' %}

{% block title %}
	<title>TodoApp</title>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-3">
			<div class="col">
				<h1 class="text-center">TodoApp</h1>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
				<form action="#">
					<input class="form-control" type="text" 
					 placeholder="Write down your task here">
					<br>
					<div class="text-center">
						<button type="submit" 
						 class="btn btn-primary">Add new task</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col">
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
